body{color:peru;}

    
  body{color: gold;
     background-color: maroon;
    text-align: center;
    
    }
     
    
    
    
    body{color: gold;
        background-color: maroon;
       text-align: center;
       }
    
    
    
    
    