h3{color:peru;}

    
  h1{color: gold;
     background-color: maroon;
    text-align: center;
    
    }
     
    
    
    
    h3{color: gold;
        background-color: maroon;
       text-align: center;
       }
    
    
    
    
    