body{color:peru;}
#a{color: greenyellow;
    padding: 15px 15px ;
    background-color: magenta;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px 200px;
    }
     
    
    
    
    
    #b{color: rgb(7, 252, 39);
    background-color: blue;
    padding: 30px 60px;
    text-align: center;
    margin: 10px 150px;
    
    
    
    
    
    }
    .z{ 
    float: left;
    }
    
    #c{text-align: center;
    color: gold;
    background-color: black;
    float: none;
    padding: 30px ;
    margin: 00px 250px;
    
    }
    #i{color: white;}
    
    .d{height: 300px;
    margin: ;
    }
    
  body{color: gold;
     background-color: maroon;
    text-align: center;
    
    }
    
    
    
    
    body{color: gold;
        background-color: maroon;
       text-align: center;
       }
    
    
    
    
    